@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fw-500 {
  font-weight: 500 !important;
}

.primary-color {
  background: #FFD814 !important;
}
.secondary-color {
  background: #FFA41C !important;
}

.navbar {
  background: #131921;
}
.navbar-brand {
  font-size: 26px !important;
  font-weight: 600;
  /* color: var(--bs-navbar-brand-color); */
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding: 0 0 12px !important;
}
.navbar-brand img {
  position: absolute;
  top: 10px;
  left: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card-image {
  height: 100%;
  object-fit: contain;
  max-height: 170px;
}

.quantity-btn {
  border: 1px solid rgba(0, 0, 0, 0.175);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120px;
}
.quantity-btn-minus,
.quantity-btn-plus {
  border: none;
  background: #eee;
}